*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
    height: 4rem;
    line-height: 4rem;
}

.choice{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img {
    height: 120px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover {
    cursor: pointer;
    opacity: 0.75;
    background-color: black;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 2rem;
}

#user-score,#comp-score {
    font-size: 3rem;
}
.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}

body{
    background-color: aquamarine;
}
